.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;

  &__text {
    display: flex;
    font-size: 4rem;
    color: #fff;
    font-family: "Editorial New";

    span {
      opacity: 0;
      transform: translateY(50px);
      display: inline-block; // Ensure transform works
    }
  }
}